# dont commit libraries
*.framework/

# user data
xcuserdata/

PopCave.visualstudio/PopCave/x64/

PopCave.visualstudio/PopCave/packages/

*.user

PopCave.visualstudio/PopCave/.vs/

*.aps

Build/
